<div class="container clearfix">
    <p>1、您可通过生成二维码海报的方式邀请好友注册成为<span class="app-name">考拉有借</span>APP用户，好友成功注册后即可获得随机现金奖励，您亦可获得相同金额的现金奖励；</p>
    <p>2、被邀请的新用户需满足手机号、手机终端均未注册、使用过<span class="app-name">考拉有借</span>APP；</p>
    <p>3、注册奖励只能获得一次，但您可以无限次邀请好友获得奖励，邀请奖励无上限；</p>
    <p>4、为了保障您的资金安全，现金奖励需前往<span class="app-name">考拉有借</span>APP提现；</p>
    <p>5、奖励详情可在APP“我的”-“我的钱包”查看；</p>
    <p>6、对于以任何不正当方式参与活动的用户，包括但不限于侵犯第三人合法权益、作弊、扰乱系统、实施网络攻击、批量参与等，经发现后<span class="app-name">考拉有借</span>有权取消及收回奖励，并保留法律诉讼权；</p>
    <p>7、本活动最终解释权归<span class="app-name">考拉有借</span>所有，若您有任何疑问，欢迎咨询在线客服。</p>
</div>