html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.home-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.home-head,.home-body,.home-footer{
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    box-sizing: border-box;
}
.home-head,.home-footer{
    height: 50px;
}
.home-body{
    flex-grow: 1;
}