<div class="container" style="display: none;">
    <!-- 高通过率 -->
    <div class="product-body produc-dtgl clearfix" id="produc-gtgl">
        <div class="body-title title-img-1"></div>
        <div class="produc-list list-type1"></div>
    </div>
    <!-- 秒批到账 -->
    <div class="product-body produc-mpdz clearfix" id="produc-mpdz">
        <div class="body-title title-img-2"></div>
        <div class="produc-list list-type2"></div>
    </div>
    <!-- 精选推荐 -->
    <div class="product-body produc-jxtj clearfix" id="produc-jxtj">
        <div class="body-title title-img-3"></div>
        <div class="produc-list list-type1"></div>
    </div>
    <!-- 新品上线 -->
    <div class="product-body produc-xpsx clearfix" id="produc-xpsx">
        <div class="body-title title-img-4"></div>
        <div class="produc-list list-type2"></div>
    </div>
</div>