//设置背景图片
@mixin bg($path){
    background-image: url($path);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

//遮罩样式
@mixin mask($rgba:rgba(0,0,0,.5)){
    position: fixed;
    background-color: $rgba;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: $maskBaseZIndex;
}