<div class="mescroll">
    <div class="top-bar">
        <div class="left-item">
            <div class="left-icon"></div>
            <div class="left-desciption">
                <div class="left-title">注册奖励 奖金翻8倍！</div>
                <div class="left-amount">0.00</div>
                <div class="left-unit">被邀奖金(元）</div>
            </div>
        </div>
        <button class="start-btn">立即参与</button>
    </div>
    <div class="container clearfix empty">
        <div class="title">邀请奖励</div>
        <div class="invite-info">
            <div class="info-item">
                <div class="info-num invite-amount">0.00</div>
                <div class="info-descrip">累计邀请奖金(元)</div>
            </div>
            <div class="info-item">
                <div class="info-num invite-person-num">0.00</div>
                <div class="info-descrip">累计邀请人数(人)</div>
            </div>
        </div>
        <div class="invite-prompt">
            <div class="invite-prompt-icon"></div>
            <div class="invite-prompt-title">你还没有邀请</div>
            <div class="invite-prompt-descript">快去邀请好友一起赚现金</div>
            <button class="invite-prompt-btn">邀请好友</button>
        </div>
        <table>
            <thead>
                <th>好友手机号</th>
                <th>注册时间</th>
                <th>奖励金额(元)</th>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
</div>