<div class="active-status-bar" style="display: none;">你们太热情啦，导致服务器开小差了~活动暂时下线，请下载【考拉有借】app关注最新上线情况啦！</div>
<div class="container clearfix">
    <div class="input-wrap">
        <p class="form-input phone-input">
            <input type="number" id="inputPhone" placeholder="请输入手机号码">
        </p>
        <p class="form-input verify-input">
            <input type="number" placeholder="请输入图中验证码">
            <span class="verify-btn" id="verify-btn">
                <img>
            </span>
        </p>
        <p class="form-input checkcode-input">
            <input type="number" id="inputCheckcode" placeholder="请输入验证码">
            <span class="checkcode-btn" id="getCheckcodeBtn">获取验证码</span>
        </p>
        <div class="start-btn clearfix" id="startBtn">
            <div class="button-text">领取红包</div>
        </div>
    </div>
    <div class="person-num">已有<span>100,658</span>人领取了红包</div>
</div>