<!-- 兼容截取图片 -->
<div class="warp">
    <div class="container clearfix">
        <div class="title">立即赚现金</div>
        <div class="description">— 多邀多得 奖励无上限 —</div>
        <div class="qrcode-box">
            <img id="qrcode-box-img" crossOrigin="anonymous" src="" alt="二维码图片">
        </div>
        <div class="footer-info">扫码注册 一起领红包</div>
    </div>
</div>
<div class="save-img-btn">
    <button></button>
</div>
<!-- <div style="text-align: center;">
    <img style="width: 100%" src="" id="ts" alt="">
</div> -->