<div class="container clearfix">
    <p>1、本活动仅限通过邀请活动注册的新用户手动领取任务参加，且每个任务只能完成一次；</p>
    <p>2、您上传的借款产品注册页面的截图，需要有手机号码与验证码，如下图所示：</p>
    <p>
        <div class="img-box">
            <img src="../img/activity-invite2-rules2-img.png" alt="">
        </div>
    </p>
    <p>3、您成功上传截图后，工作人员会在1-2个工作日内审核，审核通过后，现金奖励将自动发放至您的账户；</p>
    <p>4、现金奖励详情可在APP“我的”-“我的钱包”查看；</p>
    <p>5、对于以任何不正当方式参与活动的用户，包括但不限于侵犯第三人合法权益、作弊、扰乱系统、实施网络攻击、批量参与等，经发现后<span class="app-name" >考拉有借</span>有权取消及收回奖励，并保留法律诉讼权；</p>
    <p>6、本活动最终解释权归<span class="app-name" >考拉有借</span>所有，若您有任何疑问，欢迎咨询在线客服。</p>
</div>