<div class="container">
    <input type="file" class="upload-file4" style="display: none;" accept='image/*'>
    <div class="head clearfix">
        <div class="head-unit">被邀奖金(元)</div>
        <div class="head-amount">0.00</div>
        <div class="rules-btn">活动规则</div>
    </div>
    <div class="task-box clearfix">
        <div class="task-title">翻倍任务</div>
        <div class="task-descrip">新人福利，送你<span>8</span>倍现金奖励</div>
        <div class="task-list">
            <div class="task-item index-1">
                <!-- <div class="task-error-info">截图不符合要求</div> -->
                <div class="task-info">
                    <span class="task-index"></span>
                    <span class="task-item-title">任务一</span>
                    <span class="task-item-multiple"></span>
                    <div class="task-info-descript">
                        <p>注册1个借款产品，并上传1张注册成功截图</p>
                    </div>
                </div>
                <button class="task-btn disabled">待开启</button>
            </div>
            <div class="task-item index-2">
                <div class="task-info">
                    <span class="task-index"></span>
                    <span class="task-item-title">任务二</span>
                    <span class="task-item-multiple"></span>
                    <div class="task-info-descript">
                        <p>1.完成任务二</p>
                        <p>2.注册3个借款产品,并上传3张注册成功截图</p>
                    </div>
                </div>
                <button class="task-btn disabled">待开启</button>
            </div>
            <div class="task-item index-3">
                <div class="task-info">
                    <span class="task-index"></span>
                    <span class="task-item-title">任务三</span>
                    <span class="task-item-multiple"></span>
                    <div class="task-info-descript">
                        <p>1.完成任务一、任务二</p>
                        <p>2.注册6个借款产品,并上传6张注册成功截图</p>
                    </div>
                </div>
                <button class="task-btn disabled">待开启</button>
            </div>
        </div>
    </div>
    <div class="product-box">
        <div class="product-box-title">产品推荐</div>
        <div class="product-list">
            <div class="product-item product-empty">
                <div class="product-img"></div>
                <div class="product-info">
                    <div class="product-title"></div>
                    <div class="product-descript"></div>
                </div>
            </div>
            <div class="product-item product-empty">
                <div class="product-img"></div>
                <div class="product-info">
                    <div class="product-title"></div>
                    <div class="product-descript"></div>
                </div>
            </div>
            <div class="product-item product-empty">
                <div class="product-img"></div>
                <div class="product-info">
                    <div class="product-title"></div>
                    <div class="product-descript"></div>
                </div>
            </div>
            <div class="product-item product-empty">
                <div class="product-img"></div>
                <div class="product-info">
                    <div class="product-title"></div>
                    <div class="product-descript"></div>
                </div>
            </div>
            <div class="product-item product-empty">
                <div class="product-img"></div>
                <div class="product-info">
                    <div class="product-title"></div>
                    <div class="product-descript"></div>
                </div>
            </div>
            <div class="product-item product-empty">
                <div class="product-img"></div>
                <div class="product-info">
                    <div class="product-title"></div>
                    <div class="product-descript"></div>
                </div>
            </div>
        </div>
    </div>
</div>