<div class="container" style="display: none;">
    <div class="product-head"></div>
    <!-- 高通过率 -->
    <div class="product-body produc-dtgl" id="produc-gtgl">
        <div class="body-title">
            <i class="title-icon"></i>
            <span class="title-img title-img-1"></span>
        </div>
        <div class="produc-list">
        </div>
    </div>
    <!-- 秒批到账 -->
    <div class="product-body produc-mpdz" id="produc-mpdz">
        <div class="body-title">
            <i class="title-icon"></i>
            <span class="title-img title-img-2"></span>
        </div>
        <div class="produc-list">
        </div>
    </div>
    <!-- 精选推荐 -->
    <div class="product-body produc-jxtj" id="produc-jxtj">
        <div class="body-title">
            <i class="title-icon"></i>
            <span class="title-img title-img-3"></span>
        </div>
        <div class="produc-list">
        </div>
    </div>
</div>