<div class="alert-wrap" id="alert">
    <div class="alert">
        <div class="alert-head">{{headText}}</div>
        <div class="alert-body">{{bodyText}}</div>
        <div class="alert-footer">
            <bottom class="alert-confirm-but">{{confirmButName}}</bottom>
        </div>
    </div>
</div>