<!DOCTYPE html>
<html lang="en">
<head>
    <%=require('html-loader!common/layout/mobile-meat.html')%>
    <title>列表</title>
</head>
<body>
    <div class="container">
        <li>
            <a href="/activity-invite2-home.html">app - 邀请好友活动2-主页，2018-10-22</a>
        </li>
        <li>
            <a href="/activity-invite2-rules.html">app - 邀请好友活动2-规则页面，2018-10-22</a>
        </li>
        <li>
            <a href="/activity-invite2-qrcode.html">app - 邀请好友活动2-二维码，2018-10-22</a>
        </li>
        <li>
            <a href="/activity-invite2-prizes.html">app - 邀请好友活动2-我的奖励，2018-10-23</a>
        </li>
        <li>
            <a href="/activity-invite2-rules2.html">app - 邀请好友活动2-规则页面2，2018-10-23</a>
        </li>
        <li>
            <a href="/activity-invite2-welfare.html">app - 邀请好友活动2-新人福利，2018-10-23</a>
        </li>
        <li>
            <a href="/activity-invite2-register.html">app - 邀请好友活动2-注册，2018-10-23</a>
        </li>
        <li>
            <a href="/activity-invite2-redpack.html">app - 邀请好友活动2-红包，2018-10-23</a>
        </li>
    </div>
    
</body>
</html>