<!DOCTYPE html>
<html lang="en">
<head>
    <%=require('html-loader!common/layout/mobile-meat.html')%>
    <title>列表</title>
</head>
<body>
    <div class="container">
        <li>
            <a href="/page/activity-promotion2.html">活动-短信推广2,2018-5-3</a>
        </li>
        <li>
            <a href="/page/activity-promotion3.html">活动-短信推广3,2018-5-3</a>
        </li>
        <li>
            <a href="/page/activity-promotion4.html">活动-短信推广4,2018-5-4</a>
        </li>
        <li>
            <a href="/page/activity-promotion5.html">活动-短信推广5,2018-5-4</a>
        </li>
        <li>
            <a href="/page/activity-promotion6.html">活动-短信推广6,2018-5-8</a>
        </li>
        <li>
            <a href="/page/activity-gzwx-180508.html">活动-运营活动-关注微信,2018-5-8</a>
        </li>
        <li>
            <a href="/page/activity-yjlj-180508.html">活动-运营活动-一键领奖,2018-5-8</a>
        </li>
        <li>
            <a href="/page/activity-promotion7.html">活动-短信推广7,2018-5-9</a>
        </li>
    </div>
</body>
</html>