.container{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    .head{
        width: 100%;
        height: rem(132);
        background-color: rebeccapurple;
        @include bg('./img/activity-promotion2-banner.png');
    }

    .body{
        width: 100%;
    }
    /*================= 产品标题 ==================*/
    .body-title{
        width: 100%;
        // height: rem(60);
        // line-height: rem(60);
        box-sizing: border-box;
        padding: rem(14) 0 rem(32) 0;
        font-size: 0;
    }
    .title-icon{
        display: inline-block;
        width: rem(2);
        height: rem(16);
        background-color: #FF5240;
        vertical-align: middle;
        margin-left: rem(15);
    }
    .title-text{
        font-size: rem(15);
        vertical-align: middle;
        margin-left: rem(8);
    }

    /*================= 产品列表 ==================*/
    .produc-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .produc-item{
        width: 25%;
        margin-bottom: rem(40);
    }
    .produc-img-box{
        width: rem(37);
        height: rem(37);
        border-radius: rem(9);
        overflow: hidden;
        margin:0 auto;
        font-size: 0;
        @include bg('../../common/img/pdicon.png');

        img{
            width: 100%;
            height: 100%;
        }
    }
    .produc-name{
        font-size: rem(13);
        color: #424251;
        margin-top: rem(9);
        text-align: center;
    }
}